.nav.navbar-nav li a {
		color: white;
		font-weight: bold;
	}
	
	.navbar-inverse .navbar-nav>.active>a,
	.navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover,
	.navbar-inverse .navbar-nav>li>a:hover 	
	{ 
		color: #ff4d1b; 
	}
	
	.navbar-inverse .navbar-header
	{
		color: #ff4d1b;
	}
	
	
	.dropdown-menu
	{
		background: black;
	}
	
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background:black;
		color: #ff4d1b;
	}

	
	.btn-primary, .btn-primary:active, .btn-primary:visited {
		background-color: #ff4d1b !important;
		color: white;
		font-weight: bold;
		
	}
	
	.btn-primary:hover {
		background-color: #eee !important;
		
		color: black;
		font-weight: bold;
		border-color: black;
	}